.react-autosuggest__container {
    position: relative;
    width: 100%;
  }

  #autoSuggest > div {
    padding-top: 5px;
    width: 100%;
    height: 100%;
  }
  
  #autoSuggest input {
    width: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    /* height: inherit;  */
    border: none;
  }

  #autoSuggest ul {
    list-style: none;
  }

  #autoSuggest ul li{
    color: black;
  }
  
  #autoSuggest ul li:hover {
    background: rgb(173,216,230);
  }



