* {
  margin: 0;
  padding: 0;
}

#app {
  font-family: 'Roboto';
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  color: white;
}

.clickable {
  cursor: pointer;
}


#mainContainer{
  -moz-transition: padding-left 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: padding-left 350ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: padding-left 350ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: padding-left 350ms cubic-bezier(0.4, 0, 0.2, 1);
  left: 0;
  width: auto !important;
  right: 0 !important;
  position: fixed !important;
}

#mainContainer.expanded{
  padding-left: 150px;
}

.hidden {
  display: none;
}
